@import url('https://fonts.googleapis.com/css2?family=Poly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

*::selection {
    background-color: #80a2ff;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 15%;
}

#food {
    display: inline;
    background-image: linear-gradient(#fff 65%, #80a2ff 55%) ;
    cursor: default;
}

#logo {
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 24px;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
}

#nav li a {
    text-decoration: none;
    color: #1F1F1F;
    margin: 0 20px;
    font-size: 20px;
    font-family: 'Poly', serif;
    font-weight: 700;
}

#line {
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: #B8B8B8;
}

.cards {
    margin-top: 3%;
}

#titleSoto, #titleBika {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#card-1, #card-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3%;
}

#imgSoto, #imgBika {
    width: 30%;
    max-height: auto;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #B8B8B8);
}

#textSoto, #textBika {
    width: 400px;
    font-family: 'Poly', serif;
    font-size: 18px;
    text-align: justify;
}

#imgSoto, #textSoto, #imgBika, #textBika {
    margin: 0px 30px;
}

#line-cards {
    margin: auto;
    width: 65%;
    height: 2px;
    background-color: #e9e8e8;
}

.seemore {
    margin: 20px;
    margin-left: 30px;
    width: 400px;
    padding: 5px 5px 5px 0;
    font-family: 'Poly', serif;
    font-size: 18px;
    cursor: pointer;
    color: #80a2ff;
}

.seemore:hover {
    text-decoration: underline;
}

.titlePlace {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#crossSoto, #crossBika {  
    cursor: pointer; 
}

#cross-left {
    top: 5%; 
    right: 3%;
    position: fixed;
    width: 20px;
    height: 3px;
    background-color: #B8B8B8;
    transform: rotate(45deg);
}
#cross-right {
    top: 5%; 
    right: 3%;
    position: fixed;
    width: 20px;
    height: 3px;
    background-color: #B8B8B8;
    transform: rotate(135deg);
}

#extSoto, #extBika {
    position: fixed;
    width: 60%;
    top: 10%;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #B8B8B8);
    padding: 5%;
    z-index: 1;
}

.extText {
    font-family: 'Poly', serif;
    font-size: 18px;
    text-align: justify;
}